body{
    background-color: #78b;
}

h1{
    color: #836;
    font-size: 30px;
}

p{
    height: 150px;
    width: 30%;
    background-image: ;
    color: #000;
    background-color: #bbb;
}

#pico_bolivar{
    width: 800px;
    height: auto;
}


